<launch>

	<arg name="GLOBAL_ID" default="0"/>

    <node name="tello_slam_control_$(arg GLOBAL_ID)" pkg="flock_driver" type="tello_slam_control.py" output="screen" >
    	<param name="ID" type="string" value="$(arg GLOBAL_ID)" />
    </node>	

    <node name="tello_ui_$(arg GLOBAL_ID)" pkg="flock_driver" type="tello_ui.py" output="screen">
    	<param name="ID" type="string" value="$(arg GLOBAL_ID)" />
    </node>	


    <node name="flock_driver_node_$(arg GLOBAL_ID)" pkg="flock_driver" type="flock_driver.py" output="screen" >
      <param name="network_interface" type="string" value="wlp5s0" />
      <param name="ID" type="string" value="$(arg GLOBAL_ID)" />

      <!-- <remap from="/camera/image_raw" to="/image" /> -->
	</node>


</launch>